.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
}

.card {
  width: 250px;
  height: 200px;
  background-color: orange;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
